/*!
 * AkuraPluz v3.0 — Sinhala Font CSS Library
 * npm: akurapluz
 * CDN: https://cdn.akurapluz.dulaksha.com/style.css
 * Usage: <link rel="stylesheet" href="https://cdn.akurapluz.dulaksha.com/style.css">
 *        <p class="font-bindumathi">ආයුබෝවන්</p>
 * Generated: 2026-03-30 09:53:00
 * License: Open Source
 */

@font-face {
  font-family: 'bindumathi';
  font-display: swap;
  src: url('https://cdn.akurapluz.dulaksha.com/fonts/bindumathi/bindumathi.woff2') format('woff2'),
       url('https://cdn.akurapluz.dulaksha.com/fonts/bindumathi/bindumathi.woff') format('woff'),
       url('https://cdn.akurapluz.dulaksha.com/fonts/bindumathi/bindumathi.ttf') format('truetype');
}

@font-face {
  font-family: 'malithi';
  font-display: swap;
  src: url('https://cdn.akurapluz.dulaksha.com/fonts/malithi/malithi.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-display: swap;
  src: url('https://cdn.akurapluz.dulaksha.com/fonts/roboto-bold/roboto-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'emanee';
  font-display: swap;
  src: url('https://cdn.akurapluz.dulaksha.com/fonts/emanee/emanee.woff2') format('woff2'),
       url('https://cdn.akurapluz.dulaksha.com/fonts/emanee/emanee.woff') format('woff'),
       url('https://cdn.akurapluz.dulaksha.com/fonts/emanee/emanee.ttf') format('truetype');
}

.font-bindumathi {
  font-family: 'bindumathi', sans-serif;
}

.font-malithi {
  font-family: 'malithi', sans-serif;
}

.font-roboto-bold {
  font-family: 'Roboto-Bold', sans-serif;
}

.font-emanee {
  font-family: 'emanee', sans-serif;
}
